@media (min-width: 768px) {
    #SECTION55 {
        height: 550px;
    }

    #GROUP64 {
        top: 280px;
    }

  #SECTION369 > .ladi-container {
    width: 1240px;
    height: 630px;
  }

  #GROUP369 {
    position: absolute;
    max-width: 1240px;
    /*height: 580px;*/
    left: 140px;
    top: 80px;
  }

  #PARAGRAPH601 {
    padding-left: 20px;
    color: rgb(240, 239, 239);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    left: 140px;
    top: 60px;
  }

  #PARAGRAPH601MOBILE {
    display: none;
  }
}

@media (max-width: 767px) {


  #SECTION369 > .ladi-container {
    width: 100%;
    height: 580px;
  }

  #GROUP369 {
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 70px;
  }
  #PARAGRAPH601MOBILE {
    display: block;
    width: 100%;
    color: rgb(240, 239, 239);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;

    text-align: center;
    top: 10px;
  }
  #PARAGRAPH601 {
    display: none;
  }


}


.mySwiperProduct {
  width: 100%;
  padding-top: 40px!important;
  padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin: 0 auto;
  overflow: visible;
}
.mySwiperProduct .swiper {
  overflow: visible;
  position: relative;
}
.mySwiperProduct .swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* overflow-x: auto; */
}
.mySwiperProduct .swiper-slide.product-item {
  min-width: 260px;
  max-width: 340px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.mySwiperProduct .swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}
.mySwiperProduct .swiper-button-next,
.mySwiperProduct .swiper-button-prev {
    color: #0d1e4a;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}
.mySwiperProduct .swiper-button-next::after,
.mySwiperProduct .swiper-button-prev::after {
  font-size: 28px;
    font-weight: bold;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    border: 1px solid #f2f2f2;
}



@media (min-width: 768px) {

}